{{yield}}
{{!-- <div class='blocks'>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}{{time-block isMouseDown=isMouseDown}}{{time-block isMouseDown=isMouseDown}}{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
  <div class='hour-block'> --}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{time-block isMouseDown=isMouseDown}}
{{!-- </div>
</div> --}}